.DS_Store
.hgignore

Pods/*
Podfile.lock
Examples/coobjcBaseExample/Pods/*
Examples/coobjcBaseExample/Podfile.lock
Examples/v2ex_cco_demo/Pods/*
Examples/v2ex_cco_demo/Podfile.lock
Examples/coSwiftDemo/Pods/*
Examples/coSwiftDemo/Podfile.lock
cokit/Podfile.lock
cokit/Pods/*
cokit/Examples/coKitExamples/Podfile.lock
cokit/Examples/coKitExamples/Pods/*
build/*
.hg/*
.svn/
doxygen/*
Archives/*
*.xcworkspace

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

Carthage/*
contents.xcworkspacedata
