<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.1</string>
	<key>build</key>
	<string>DevBuild</string>
	<key>themoviedb_host</key>
	<string>http://api.themoviedb.org/3</string>
	<key>api_key</key>
	<string>328c283cd27bd1877d9080ccb1604c91</string>
</dict>
</plist>
